$color-white: #ffffff;
$color-green: #29a979;
/* Below is the actual green, but it's ugly AF */
/* $color-green: #2ea664; */
$color-blue-dark: #005e99;

$color-gray-lighter: #e8e8e8;
$color-gray-light: #a0a0a2;
$color-gray: #717274;
$color-gray-dark: #717274;
$color-gray-darker: #2c2d30;
$color-gray-darkest: #000;

$color-modal-header-background: #f2f2f5;

$color-selected: #0576b9;
