@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,700,900);
@import '_slack-colors';

$font-family-slack-icon: 'Icomoon', sans-serif;
$font-family-slack: 'Lato', 'appleLogo', sans-serif;
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-bolder: 900;
