@import 'colors';
@import 'layers';
@import 'typography';
@import 'animation';

.builder {
  width: 100%;
  height: 100%;

  background-color: $color-gray-lighter;
  border-left: 2px solid $color-gray-lighter;

  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;

  &:not(.show-navigator) {
    .attachments__navigator {
      display: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: $color-white;
    padding: 1.4rem 1.6rem .4rem;
  }

  &__header-headline {
    font-size: 1rem;
    font-weight: $font-bolder;
    color: $color-gray-darker;
  }
  &__header-meta {
    font-size: .85rem;
    font-weight: $font-light;
    color: $color-gray-darker;
    flex-basis: 100%;
  }
  &__header-meta--is-copy {
    display: inline-block;
    font-size: .85rem;
    font-weight: $font-bold;
    background-color: $color-yellow;
    color: $color-white;
    padding: .2rem .5rem;
    border-radius: 5px;
    flex-basis: auto;
  }

  &__message {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }

  &__message-header {
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
  }

  &__message-header-actions {
    display: flex;

    & > :not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__message-header-action-group {
    & > :last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    & > :first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    & > :not(:last-child):not(:first-child) {
      border-radius: 0;
      margin-right: 2px;
    }

    & > :last-child:first-child {
      border-radius: 2px;
    }

    & > :not(:last-child) {
      margin-right: 2px;
    }

    & > :hover {
      position: relative;
      z-index: 1;
    }
  }

  &__message-content {
    flex-basis: 100%;
    flex-direction: column;
    display: flex;
  }

  &__message-title {
    font-weight: 700;
    font-size: 1rem;
  }

  &__message-settings {
    background-color: $color-white;
    padding-bottom: .6rem;
  }

  /* Attachments */
  &__message-attachments {
    padding: 1rem;
  }

  &__message-add-attachment {
    font-family: 'icomoon';
    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 4px 20px -10px rgba($color-gray-dark, .5);

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: $color-gray-medium;

    transition: color .2s $easing;

    cursor: pointer;

    &:hover {
      color: $color-green;
    }
  }

  &__message-attachment {

    background-color: $color-white;
    border-radius: 4px;
    box-shadow: 0 4px 20px -10px rgba($color-gray-dark, .5);


    min-height: 5.3rem;
    position: relative;

    margin-bottom: .6rem;
  }

  &__message-attachment-color {
    width: 4px;
    border-radius: 10px;
    background-color: $color-gray-light;

    position: absolute;
    top: 3rem;
    bottom: .8rem;
    left: 1rem;

  }

  &__message-attachment-field {
    display: flex;

    &:not(:first-child) {
      margin-top: 1.6rem;
    }
  }
  &__message-attachment-action,
  &__message-attachment-dialog {
    position: relative;
  }

  &__message-attachment-options {
    position: absolute;
    bottom: 100%;
    right: -1px;
    text-align: left;
    border-radius: 4px;
    box-shadow: 0 2px 30px -10px rgba($color-gray-darker, .6);

    @at-root .builder__message-input--control--triggers & {
      right: auto;
      left: 0;
    }

  }

  &__message-attachment-options-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: $layer-4;
  }

  &__message-attachment-option-item {
    display: flex;
    align-items: center;
    background-color: $color-white;
    color: $color-gray-darker;

    font-family: $font-family-base !important;
    font-weight: $font-normal;
    font-size: .85rem;
    text-transform: none;

    padding: .6rem 1.2rem .6rem 1rem;

    position: relative;

    z-index: $layer-5;

    &:not(:nth-child(2)) {
      box-shadow: inset 0 1px 0 0 $color-gray-light;
    }

    &:before {
      font-family: 'icomoon' !important;
      font-weight: normal;
      font-size: 18px;
      margin-right: .6rem;
      color: inherit;
    }

    &:nth-child(2) {
      border-radius: 4px 4px 0 0;
    }

    &:last-child {
      border-radius: 0 0 4px 4px;
    }

    &:hover {
      color: $color-green;
      background-color: $color-gray-lightest;
      z-index: $layer-6;
    }
  }

  &__message-attachment-option-item-type {
    font-size: .7rem;
    color: $color-green;
    font-weight: $font-bolder;
    text-transform: uppercase;
    flex: 1;
    padding-left: 1rem;
    text-align: right;
  }

  &__message-input--control {
    margin-bottom: 1rem;
    text-align: right;
  }

  &__message-attachment-empty {
    padding: 4rem;
    text-align: center;

    &-headline {
      margin-bottom: 1rem;
    }

    &-description {
      margin-bottom: 3rem;
    }

    &-close-btn {
      position: absolute;
      left: 2rem;
      top: 2rem;
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;

      .btn {
        margin-bottom: 1rem;
      }
    }

    &-text {
      font-family: $font-family-base;
    }

    &-image {
      width: 100%;
      max-width: 25rem;
    }
  }

  &__controls {
    display: flex;
    background-color: $color-white;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: $layer-6;
    justify-content: space-between;
    padding: 1.5rem 1.2rem;
    box-shadow: 0 -4px 10px -5px rgba($color-gray-dark, .5);

    &--justify-end {
      justify-content: flex-end;
    }
  }

  .toggle-alert {
    margin-right: .4rem;
    color: $color-red;
  }

  &__control {
    &-group {
      display: flex;
      align-items: center;

      .btn:not(:last-child) {
        margin-right: .8rem;
      }
    }
  }

  .input-group {
    font-size: 1rem;

    &__label {
      margin-bottom: .1rem;

      &--long {
        min-width: 10rem;
      }
    }
  }
}
