.full-json-import {
  &__error {
    > div {
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 5px;
    }
  }
  &__error-item {
    font-family: monospace;
    white-space: pre-line;
  }
}
