@import 'typography';
@import 'colors';

.list {
  box-shadow: 0 0 0 2px $color-gray-lighter;
  border-radius: 4px;

  &__content {
    flex: 1;
  }

  &__action {
    opacity: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    padding: .6rem;

    &:not(:first-child) {
      box-shadow: 0 -2px 0 0 $color-gray-lighter;
    }

    &:hover {
      .list__action {
        opacity: 1;
      }
    }
  }

}
