$color-primary: #27ae60;
$color-default: #565759;
$color-default-border-hover: #a0a0a2;


.modal {
  &--select {
    overflow: hidden;

    margin: 0 auto;
  }

  &--select &__container {
    width: 30rem;
    min-height: auto;
  }

  &--select &__footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 1.5rem 1.2rem;

    & .btn {
      margin: 0 0 0 .6rem;

      box-shadow: 0 0 0 1px #d3d3d3;
      background-color: #f9f9f9;

      color: $color-default;

      &:hover {
        box-shadow: 0 0 0 1px $color-default-border-hover;
      }

      &--primary {
        box-shadow: 0 0 0 1px $color-primary;
        background-color: $color-primary;
        color: #fff;

        &:hover {
          background-color: darken($color-primary, 5%);
          box-shadow: 0 0 0 1px darken($color-primary, 5%);
        }
      }
    }
  }
}
