@import 'animation';
@import 'responsive';
@import 'colors';
@import 'layers';

.selector {
  position: absolute;
  left: -.6rem;
  top: -.6rem;
  opacity: 0;

  transition: opacity .4s $easing;

  &__parent {
    position: relative;

    &:hover {
      overflow: visible;
      z-index: 100;

      .selector {
        opacity: 1;
      }
    }
  }

  &__inner {
    background-color: $color-white;
    box-shadow: 0 0 0 2px $color-gray-lighter;
    border-radius: 4px;
    display: flex;

    transition: transform .2s $easing;

    @media (min-width: $break-point-larger) {
      &--0 {
        transform: translateX(0);
      }

      &--1 {
        transform: translateX(-4.56rem);
      }

      &--2 {
        transform: translateX(-9.2rem);
      }

      &--3 {
        transform: translateX(-13.75rem);
      }

      &---1 {
        transform: translateX(-18.37rem);
      }
    }
  }

  &__item {
    padding: .6rem 0 .5rem .6rem;
    box-shadow: 0 -2px 0 0 $color-gray-lighter;

    &:last-child {
      padding-right: .6rem;
    }

    &--avatar {
      background-size: cover;
      background-position: center;

      width: 4rem;
      height: 4rem;
    }

    &-url-input {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: none;

      .settings__input {
        margin: 0;
        text-indent: 1rem;

        height: 100%;

        &+.input-feedback {
          padding: .5rem;

          position: absolute;
          right: 0;
          bottom: 0;
        }

        &:invalid {
          color: $color-danger;

          &+.input-feedback:after {
            font-size: .6rem;
            color: $color-gray-medium;
            content: 'Must be a valid url';
          }
        }
        &:valid {
          &+.input-feedback:after {
            font-size: .6rem;
            color: $color-gray-medium;
            content: 'Press enter to save';
          }
        }
      }



      @at-root .open & {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 2px;
        left: 0;
        background-color: $color-white;
        border-radius: 4px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        z-index: $layer-2;
      }
    }

    &--url {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
